<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Imageserver downloader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <style>
        .Absolute-Center {
          margin: auto;
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
        }

        .Absolute-Center.is-Responsive {
          width: 50%;
          height: 50%;
          min-width: 200px;
          max-width: 400px;
          padding: 40px;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <h3>Imageserver downloader</h3>
            <br/>
            <div class="container">
                <div class="content">
                    <div layout:fragment="page_content"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>