<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Imageserver downloader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <style>
        .Absolute-Center {
          margin: auto;
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
        }

        .Absolute-Center.is-Responsive {
          width: 50%;
          height: 50%;
          min-width: 200px;
          max-width: 400px;
          padding: 40px;
        }
    </style>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <form method="post" class="form-horizontal">
                <h3>Imageserver downloader</h3>
                <br/>
                <div class="form-group">
                    <label for="uuid">Seznam UUID</label>
                    <div>
                        <input id="uuid" name="uuid" type="text" placeholder="" class="form-control input-md" data-toggle="tooltip" data-placement="right" required="" title="uuid dokumentu" th:value="${uuid}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="imageFormat">Formát:</label>
                    <select class="browser-default custom-select form-control" id="imageFormat" name="format">
                        <option>jpg</option>
                        <option>jp2</option>
                    </select>
                </div>

                <div class="form-group text-center">
                    <label for="singlebutton"></label>
                    <div>
                        <button id="singlebutton" name="singlebutton" class="btn btn-success">Zahájit přípravu obrázků</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>