<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<div layout:fragment="page_content" id="page_content">
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label for="uuid">UUID periodika</label>
            <div>
                <input id="uuid" name="uuid" type="text" placeholder="" class="form-control input-md" data-toggle="tooltip" data-placement="right" required="" title="uuid rodičovského objektu celého periodika" th:value="${uuid}">
            </div>
        </div>

        <label for="fromYear">Ročník</label>

        <div class="form-row">
            <div class="form-group col-md">
                <div>
                    <input class="input-md form-control" id="fromYear" name="fromYear" type="number" placeholder="od" data-toggle="tooltip" title="pro úplný rozsah ponechte prázdné" th:value="${from}">
                </div>
            </div>

            <div class="form-group col-md">
                <div>
                    <input class="input-md form-control" id="toYear" name="toYear" type="number" placeholder="do" data-toggle="tooltip" title="pro úplný rozsah ponechte prázdné" th:value="${to}">
                </div>
            </div>
        </div>

        <label for="fromIssue">Číslo</label>

        <div class="form-row">
            <div class="form-group col-md">
                <div>
                    <input class="input-md form-control" id="fromIssue" name="fromIssue" placeholder="od" data-toggle="tooltip" title="absolutní název čísla včetně doprovodných znaků (např. 26* pro LN), pro úplný rozsah ponechte prázdné" th:value="${from}">
                </div>
            </div>

            <div class="form-group col-md">
                <div>
                    <input class="input-md form-control" id="toIssue" name="toIssue" placeholder="do" data-toggle="tooltip" title="absolutní název čísla včetně doprovodných znaků (např. 27* pro LN), pro úplný rozsah ponechte prázdné" th:value="${to}">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="batchName">Jméno dávky</label>
            <div>
                <input id="batchName" name="batchName" type="text" placeholder="" class="form-control input-md" data-toggle="tooltip" data-placement="right" required="" title="jméno dávky pod kterou bude uložena na vyzvednutí" th:value="${batchName}">
            </div>
        </div>

        <div class="form-group">
            <label for="imageFormat">Formát:</label>
            <select class="browser-default custom-select form-control" id="imageFormat" name="format">
                <option>tiff</option>
                <option>jp2</option>
                <option>jpg</option>
            </select>
        </div>

        <div class="form-group text-center">
            <label for="singlebutton"></label>
            <div>
                <button id="singlebutton" name="singlebutton" class="btn btn-success">Zahájit přípravu obrázků</button>
            </div>
        </div>
    </form>
</div>