<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<div layout:fragment="page_content" id="page_content">
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label for="uuidList">Seznam UUID</label>
            <div>
                <textarea id="uuidList" name="uuidList" type="text" placeholder="" class="form-control input-md text-monospace" data-toggle="tooltip" data-placement="right" required="" title="uuid dokumentu" th:value="${uuidList}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="batchName">Jméno dávky</label>
            <div>
                <input id="batchName" name="batchName" type="text" placeholder="" class="form-control input-md" data-toggle="tooltip" data-placement="right" required="" title="jméno dávky pod kterou bude uložena na vyzvednutí" th:value="${batchName}">
            </div>
        </div>

        <div class="form-group">
            <label for="imageFormat">Formát:</label>
            <select class="browser-default custom-select form-control" id="imageFormat" name="format">
                <option>jp2</option>
                <option>jpg</option>
                <option>tiff</option>
            </select>
        </div>

        <div class="form-group text-center">
            <label for="singlebutton"></label>
            <div>
                <button id="singlebutton" name="singlebutton" class="btn btn-success">Zahájit přípravu obrázků</button>
            </div>
        </div>
    </form>
</div>